Logged in user: <%= current_user.email %><br><br>
<%= button_to 'Sign out', destroy_user_session_path, method: :delete %><br><br>
<%= top_title %>
<ul>
  <% @posts.each do |post| %>
    <li>
      <div><%= post.title %></div>
      <div><%= post.body %></div>
      <% if user_logged_in? %>
        <div><%= post.user.email %></div>
      <% end %>
    </li>
  <% end %>
</ul>